body {
  margin: 0px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #5a3920;
  display: flex;
}

h1 {
  color: #ffffff;
  margin: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 30px;
}

nav ul li {
  color: white;
  margin-left: 40px;
}

.menu {
  margin: 0 0 0 auto;
}

.container {
  width: 100%;
}

.content {
  background-color: #c0baba;
}

.about {
  width: 400px;
  margin: 0 auto;
  padding: 100px;
}

.wrap1,
.wrap2 {
  margin: 0 auto;
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #aac7fc;
  color: #ffffff;
}

.box p {
  padding: 25px;
}

.box img {
  width: 200px;
  height: 200px;
}

.topImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.info {
  background-color: #ffffff;
  display: flex;
  margin: 50px auto;
}

.bookReview {
  display: flex;
  margin-right: 100px;
}

.bookReview h2 {
  margin: 0;
  padding: 0;
}

.bookReview table {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

td {
  height: 35px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(75, 75, 75);
  text-align: center;
}

footer p {
  color: white;
  padding-top: 40px;
}
